* {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
#main-container{
    text-align: center;
    position: relative;
    width: auto;
    height: auto;
}
.p-title{
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}
#stats-content{
    text-align: center;
    display: inline-block;
    width: 95%;
    height: auto;
    border: 3px outset grey;
    background-color: lightgray;
}
.circle-content{
    margin: 2%;
    width: 20%;
    background-color: white;
    border: 2px grey;
    border-style: outset;
    display:inline-block;
    text-align: center;
}
.circle-description{
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    display: block;
    font-size: 15px;
    color: grey;
}
#champ-name{
    float: left;
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
    display: block;
    font-family: 'Roboto Slab', serif;
    clear:both;
}
#champ-title{
    margin-left: 25px;
    display: block;
    float: left;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 25px;
    clear:both;
}
#champ-tag{
    margin-left: 25px;
    margin-top: 10px;
    display: block;
    float: left;
    color:white;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    clear:both;
}
#info-champion{
    margin-top:1%;
    background-repeat: no-repeat;
    background-position :center;
    background-attachment:local;
    display:inline-block;
    border-style: solid;
    height: 200px;
    width: 98%;
    background-size: cover;
    background-position: 50% 30%;
}
#name-role{position: relative;}
#img-role{height: 45px;width: 45px;margin-top: 10px;}
h2{float: left;margin-left: 8px;}

#bars-content{
    width: 95%;
    margin: auto;
}

.progress-bar-info{
      background-color: #0b05b7 !important;
}
.progress-bar-warning{
    background-color: purple !important;
}
.tooltip-style{
    border: 2px solid black;
    background-color: #fff;
}
.tooltip-style .qtip-content{
    line-height: 120%;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#div-cont-skin{
    width: 100%;
    text-align: center;
}

.figura{
    display: inline-block;
    margin: 0;
	position: relative;
    width: 400px;
    height: auto;
    margin: 10px 10px;
}
#lore{
    width: 95%;
    text-align: left;
    margin: auto;
}
#story{
    margin: auto;
}
.figura img{
    max-width: 100%;
	display: block;
	position: relative;
    z-index: 10;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);;
	transition: transform 0.4s;
}
figcaption{
    position: absolute;
	top: 0;
	left: 0;
    height: 50px;
    width: 100%;
	top: auto;
	bottom: 0;
	background: #2c3f52;
	color: #ed4e6e;
}
.skin-name{
    font-family: 'Roboto Slab', serif;
    color: #fff;
    margin-top: 10px;
	font-size: 20px;
}
.figura:hover img{
    transform: translateY(-50px);
}
.spell-content{
    width: 95%;
    text-align: left;
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid grey;
}
.colonna-65{
    width: 65%;
    height: auto;
}
.colonna-35{
    width: 35%;
    height: auto;
}
.prova{
    float: left;
    height: auto;
}
.spell-img-container{
    margin: 15px 20px;
    display: inline-block;
    padding: 4px;
    background-color: lightgray;
    border: 1px solid grey;
}
.spell-img{
    /* */
}
.spell-description{
    margin: 10px 15px;
}
.spell-title-container{
    display: inline-block;
}
.spell-title{
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}
