<html>
<head>
 <title>Champion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="jquery.qtip/jquery.qtip.min.css">   
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="css-circle/css/circle.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="main-container"></div>
    <script id="info-champ-template" type="text/x-handlebars-template">
{{#championSelect}}
         <div id="info-champion" style="background-image: url(http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{key}}_0.jpg)">
              <p id="champ-name">{{name}}</p>
              <p id="champ-title">{{title}}</p>
              <p id="champ-tag">{{tags}}</p>
         </div>
          <div class="cont-stat">
          <p class="p-title tooltip-stat">{{name}} Statistiche</p>
          </div>
            <div id="bars-content">
                <div class="progress progress-defense">
                <div class="progress-bar progress-bar-success active" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:{{info.defense}}0%">
                    Difesa
                </div>
                </div>
                <div class="progress progress-attack">
                <div class="progress-bar progress-bar-danger active" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:{{info.attack}}0%">
                    Attacco
                </div>
                </div>
                <div class="progress progress-magic">
                <div class="progress-bar progress-bar-info active" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:{{info.magic}}0%">
                    Potere Magico
                </div>
                </div>
                <div class="progress progress-difficulty">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"aria-valuemin="0" aria-valuemax="100" style="width:{{info.difficulty}}0%">
                    Difficolt&agrave;
                </div>
                </div>
            </div>
            <div id="story">
                <p class="p-title">Breve storia di {{name}}</p>
                <p id="lore">{{{lore}}}</p>
            </div>
            <div >
                <p class="p-title">Aspetti</p>
                <div id="div-cont-skin">

                </div>
            </div>
            <p class="p-title">Abilit&agrave;</p>
            <div class="spell-content">
                <div class="colonna-65 prova">
                    <div class="spell-img-container"></div>
                    <div class="spell-title-container">
                        <p class="spell-title">TITLE</p>
                    </div>
                    <div class="spell-description-container">
                    </div>
                </div>
                <div class="colonna-35 prova video-container">
                    <video controls class="video-spell"></video>
                </div>
            </div>
{{/championSelect}}
      </script>
    <!-- Import all file JavaScript -->
    <script src="js/championsData.js"></script> 
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
    <script src="js/js.main.js"></script>
    <script src="jquery.qtip/jquery.qtip.min.js"></script>
    <script src="js/modernizr-custom.js"></script>
    </body>
</html>
